.view {
  background-size: cover;
    height: 100%;
  }
 
  .mask{
   background-attachment: fixed;
   background-image:  url("../assets/images/py2.jpg");
   background-size: cover;
  height: 100%;
   
  }

  .navbar {
    background-color: transparent;
}

.submit,
.top-nav-collapse {
    background-color:#113A5D;
    
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}
  .navbar-brand{
    font-size: 150%;
    font-weight: bold;
   
  }

  .fab{
    size: 80px;
    font-weight: bold;
    font-size: 25px;
    color: black;
    
  }

  .navbar .dropdown-menu a:hover {
    color: inherit !important;
  }



header {
  min-height: 80vh;
  background-position: center;
  background-size: cover;
  position: relative;
}
.text-box {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: beige;
}

.text-box h1 {
  font-family: cursive;
  font-size: 5rem;
}

.text-box p {
  font-size: 2rem;
  font-weight: lighter;
}
.submit {
  color: var(--dark);
}



.card-up{
  height:60px;
}
.btn-outline-secondary {
  color: rgb(197, 183, 183);
  font-weight: bold;
}

/* Pages Start Here */


.main{
  background-image: url("http://mdbootstrap.com/img/Photos/Others/forest1.jpg");
  background-size: cover;
    height: 100%;
}

.projects {
  /* background-image: radial-gradient( circle 343px at 46.3% 47.5%,  rgba(242,242,242,1) 0%, rgb(250, 250, 250) 72.9% ); */
  background-size: cover;
  height: 100%;

}


.work{
  background-image:  url("../assets/images/py2.jpg");
  background-size: cover;
  background-color: 
  #FF7A8A;
  /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(234,249,249,0.67) 0.1%, rgba(239,249,251,0.63) 90.1% ); */
}

.contact-section .form .btn-floating {
  left: 3px;
}

.vie{
/*   
  background-image: radial-gradient( circle 343px at 46.3% 47.5%,  rgba(242,242,242,1) 0%, rgba(245, 241, 241, 0.712) 72.9% ); */
  background-size: cover;
  height: 90%;
}

.dude{
  background-image: url("../assets/images/a.png");
  background-size: cover;
}

.dude2 {
  background-image: url("../assets/images/b.png");
  background-size: cover;
}

.dude3 {
  background-image: url("../assets/images/c.png");
  background-size: cover;
}
.card-body{
  background-image: radial-gradient( circle farthest-corner at 10% 20%,
    rgba(234,249,249,0.67) 0.1%, rgba(239,249,251,0.63) 90.1% );
  margin: 0px 50px 0px 50px;
}




